// main parameter settings that can be set for each institution
params {
    // edX institution code - the case should match that used by the raw data files (i.e., lower case)
    institution='curtinx'

    // folder paths (case-sensitive) that identify where to look for raw data files
    rawCourseDataFolder='/data/edX/packages/raw/course-data'
    rawEventEdXFolder='/data/edX/packages/raw/events'
    rawEventEdgeFolder='/data/edX/packages/raw/events-edge'

    // folder paths (case-sensitive) that identify where to publish extracted data
    publishedCourseDataFolder='/data/edX/packages/published/course-data'
    publishedEventEdXFolder='/data/edX/packages/published/events'
    publishedEventEdgeFolder='/data/edX/packages/published/events-edge'

    // folder path (case-sensitive) in which to store md5 files
    md5Folder='/data/edX/packages/md5'

    // path to a file that contains the gpg passphrase needed to decrypt the data files
    passphrasePath='/opt/curtin/edX/passphrase'
}

// Nextflow timeline generation configuration
timeline {
    enabled=true
    file='extract-timeline.html'
}

// process execution configuration - do not change executor or maxForks
process {
    echo=false
    executor='local'
    maxForks=1
}
